li {
  list-style: none; }

a {
  text-decoration: none;
  margin-right: 10px; }

.container {
  max-width: 1400px;
  margin: 0 auto; }

.col {
  max-width: 32%;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 5px; }

ul li {
  display: inline-block;
  margin-left: 30px; }

body {
  margin: 0; }

header .all-menu {
  background: #f2f2f2; }
  header .all-menu .top-menu P {
    display: inline-block; }
  header .all-menu .top-menu .menu {
    display: inline-block;
    float: right; }

header .main-menu {
  margin-top: 3%; }
  header .main-menu .menu span {
    margin-right: 10px;
    font-size: 20px;
    font-style: italic; }
  header .main-menu .logo {
    text-align: center; }
    header .main-menu .logo img {
      top: -15px;
      position: relative; }
  header .main-menu .social-icon .icon {
    display: inline-block;
    margin-left: 50px; }
    header .main-menu .social-icon .icon .fa-facebook {
      border: 2px solid gray;
      border-radius: 50%;
      padding: 5px 10px; }
    header .main-menu .social-icon .icon .fa-twitter {
      border: 2px solid gray;
      border-radius: 50%;
      padding: 5px 7px; }
    header .main-menu .social-icon .icon .fa-pinterest {
      border: 2px solid gray;
      border-radius: 50%;
      padding: 5px 8px; }
    header .main-menu .social-icon .icon .fa-instagram {
      border: 2px solid gray;
      border-radius: 50%;
      padding: 5px 8px; }
  header .main-menu .social-icon #chon {
    background: #000;
    color: #fff;
    padding: 7px 10px;
    float: right; }

.my-slider .flexslider .slides li.slide1 {
  background: url(../img/slide1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px; }

.my-slider .flexslider .slides li.slide2 {
  background: url(../img/slide1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px; }

.my-slider .flexslider .slides li.slide3 {
  background: url(../img/slide1.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px; }

.my-slider .flexslider .slides li .sell {
  text-align: center;
  position: relative;
  top: 40%; }
  .my-slider .flexslider .slides li .sell .sell-child {
    display: inline-block;
    padding: 5px;
    border: 2px solid #fff; }
    .my-slider .flexslider .slides li .sell .sell-child .all-sell {
      border: 1px solid #fff;
      padding: 0 30px;
      padding-bottom: 10px; }
      .my-slider .flexslider .slides li .sell .sell-child .all-sell p {
        color: #fff; }
        .my-slider .flexslider .slides li .sell .sell-child .all-sell p::before, .my-slider .flexslider .slides li .sell .sell-child .all-sell p::after {
          font-family: FontAwesome;
          content: "\f068";
          font-size: 10px;
          color: #fff;
          padding: 0 5px; }
      .my-slider .flexslider .slides li .sell .sell-child .all-sell h3 {
        color: #fff; }
      .my-slider .flexslider .slides li .sell .sell-child .all-sell span {
        font-size: 20px;
        font-weight: 900; }
    .my-slider .flexslider .slides li .sell .sell-child:hover .all-sell {
      border: 1px solid transparent;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      -webkit-transition-delay: 100ms;
      -o-transition-delay: 100ms;
      transition-delay: 100ms;
      -webkit-transition-property: 0;
      -o-transition-property: 0;
      transition-property: 0; }
  .my-slider .flexslider .slides li .sell .btn {
    margin-top: 25px; }
    .my-slider .flexslider .slides li .sell .btn a {
      margin: 0;
      border: 1px solid #f09d66;
      background: #f09d66;
      padding: 10px 15px; }
      .my-slider .flexslider .slides li .sell .btn a span {
        color: #fff;
        font-weight: 500;
        font-size: 18px; }

.handpick .left-img1, .handpick .right-img1 {
  margin-bottom: 22px; }

.handpick img {
  width: 100%;
  height: auto; }

.handpick .block-left .left-img1, .handpick .block-left .left-img2 {
  position: relative; }

.handpick .block-center {
  text-align: center;
  position: relative; }
  .handpick .block-center .square {
    border: 2px solid #fff;
    padding: 85% 45%;
    top: 0;
    position: absolute;
    margin: 20px 20px;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; }
    .handpick .block-center .square:hover {
      border: 2px solid transparent; }

.handpick .block-right {
  text-align: right; }
  .handpick .block-right .right-img1, .handpick .block-right .right-img2 {
    position: relative; }

.handpick .btn {
  position: absolute;
  top: 0;
  border: 2px solid #fff;
  padding: 42% 32%;
  margin: 15px 15px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms; }
  .handpick .btn:hover {
    border: 2px solid transparent;
    background: #2b2b2b47; }
  .handpick .btn a {
    background: #f9ab33;
    padding: 10px 14px;
    margin: 0;
    color: #fff; }
    .handpick .btn a:hover {
      background: #202020; }

.our-support .support {
  margin-top: 66px; }
  .our-support .support .left .btn-left {
    background: none;
    border: 0;
    font-size: 20px;
    line-height: 0;
    position: relative;
    width: 16em;
    height: 4em;
    right: 3px; }
  .our-support .support .left .btn-left h3, .our-support .support .left .btn-left p {
    color: #fff;
    position: relative;
    z-index: 9; }
  .our-support .support .left .btn-left::before, .our-support .support .left .btn-left::after {
    background: #d9bf8f;
    border-radius: 0px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    height: 2em; }
  .our-support .support .left .btn-left::before {
    -webkit-transform: skew(45deg);
    -ms-transform: skew(45deg);
    transform: skew(45deg);
    top: 0; }
  .our-support .support .left .btn-left::after {
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
    top: 2em; }
  .our-support .support .btb {
    background: none;
    border: 0;
    font-size: 20px;
    line-height: 0;
    position: relative;
    width: 5em;
    height: 4em;
    left: 30px; }
  .our-support .support .btb::before, .our-support .support .btb::after {
    background: #d9bf8f;
    border-radius: 0px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    height: 2em; }
  .our-support .support .btb::before {
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
    top: 0; }
  .our-support .support .btb::after {
    -webkit-transform: skew(0deg);
    -ms-transform: skew(0deg);
    transform: skew(0deg);
    top: 2em; }
  .our-support .support .center .btn-center {
    background: none;
    border: 0;
    font-size: 20px;
    line-height: 0;
    position: relative;
    width: 24em;
    height: 4em; }
  .our-support .support .center .btn-center h3, .our-support .support .center .btn-center p {
    color: #fff;
    position: relative;
    z-index: 9; }
  .our-support .support .center .btn-center::before, .our-support .support .center .btn-center::after {
    background: #000;
    border-radius: 0px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    height: 4em; }
  .our-support .support .center .btn-center::before {
    -webkit-transform: skew(45deg);
    -ms-transform: skew(45deg);
    transform: skew(45deg);
    top: 0; }
  .our-support .support .center .btn-center::after {
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
    top: 0; }
  .our-support .support .right .btn-right {
    background: none;
    border: 0;
    font-size: 20px;
    line-height: 0;
    position: relative;
    width: 15em;
    height: 4em;
    right: -3em; }
  .our-support .support .right .btn-right h3, .our-support .support .right .btn-right p {
    color: #fff;
    position: relative;
    z-index: 9; }
  .our-support .support .right .btb span {
    color: #fff;
    position: relative;
    z-index: 9; }
  .our-support .support .right .btn-right span {
    color: #fff;
    position: relative;
    z-index: 9; }
  .our-support .support .right .btn-right::before, .our-support .support .right .btn-right::after {
    background: #d9bf8f;
    border-radius: 0px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    height: 2em; }
  .our-support .support .right .btn-right::before {
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
    top: 0; }
  .our-support .support .right .btn-right::after {
    -webkit-transform: skew(45deg);
    -ms-transform: skew(45deg);
    transform: skew(45deg);
    top: 2em; }

.col-4 {
  max-width: 30%;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 5px; }

.col-6 {
  max-width: 36%;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: 0 5px; }

.col-3 {
  max-width: 24%;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 0 5px;
  text-align: center;
  position: relative; }

.col-2 {
  max-width: 16%;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  padding: 0 2px;
  text-align: center; }

.col-20 {
  max-width: 20%;
  display: inline-block;
  vertical-align: middle;
  width: 100%; }

.col-28 {
  max-width: 28%;
  display: inline-block;
  vertical-align: bottom;
  width: 100%; }

.row-pan {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 7%; }
  .row-pan h3 {
    margin-bottom: 0;
    border-bottom: 2px solid #d4d4d4; }
    .row-pan h3 span {
      background: #fff;
      padding: 10px 5%;
      position: relative;
      top: 9px;
      font-size: 22px;
      font-style: italic; }

.recent .btn {
  position: absolute;
  bottom: 1px;
  right: 30%; }
  .recent .btn .btn-black {
    background: none;
    border: 0;
    font-size: 12px;
    line-height: 0;
    position: relative;
    width: 12em;
    height: 4em;
    cursor: pointer; }
    .recent .btn .btn-black span {
      position: absolute;
      z-index: 9;
      color: #fff; }
    .recent .btn .btn-black::before {
      -webkit-transform: skew(-45deg);
      -ms-transform: skew(-45deg);
      transform: skew(-45deg);
      top: 0;
      right: 4em !important; }
    .recent .btn .btn-black::after {
      -webkit-transform: skew(45deg);
      -ms-transform: skew(45deg);
      transform: skew(45deg);
      top: 0em;
      left: 4em !important; }
  .recent .btn .btn-black::before, .recent .btn .btn-black::after {
    background: #000;
    border-radius: 0px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    height: 4em; }

.brand {
  margin-bottom: 6em; }

.customer {
  margin-top: 5em;
  background: #d9bf8f;
  height: 410px;
  padding-top: 3em;
  position: relative; }
  .customer .right {
    text-align: right; }
  .customer .right p, .customer .left p {
    color: #fff;
    font-style: italic;
    font-size: 16px; }
  .customer .right h3, .customer .left h3 {
    font-size: 25px;
    font-style: italic; }
  .customer .right h5, .customer .left h5 {
    text-transform: uppercase;
    font-size: 16px;
    color: gray; }
  .customer .right-img {
    text-align: right; }
  .customer:after {
    border-top: 0px solid transparent;
    border-left: 14em solid #fff;
    border-bottom: 3em solid transparent;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 0;
    width: 0; }
  .customer:before {
    border-top: 0px solid transparent;
    border-right: 14em solid #fff;
    border-bottom: 3em solid transparent;
    content: "";
    height: 0;
    right: 50%;
    position: absolute;
    top: 0;
    width: 0; }
