#main-page .header {
  background: #bbbaba;
  text-align: center;
  padding: 40px 0; }
  #main-page .header .my-logo {
    padding-top: 30px; }
    #main-page .header .my-logo h3 {
      color: #fff;
      font-size: 14px; }
    #main-page .header .my-logo h1 {
      color: yellow;
      font-size: 28px; }
  #main-page .header .my-bt {
    padding: 30px 0; }
    #main-page .header .my-bt span {
      border: 1px solid yellow;
      padding: 9px 30px;
      color: #fff; }
    #main-page .header .my-bt p {
      margin-top: 20px;
      font-size: 45px;
      color: #fff; }
      #main-page .header .my-bt p:before {
        font-family: FontAwesome;
        content: "\f107"; }

@media (min-width: 768px) {
  #main-page .navigation {
    border-bottom: 1px solid yellow;
    padding-bottom: 10px; } }

@media (min-width: 768px) {
  #main-page .navigation .menu {
    margin-top: 20px;
    float: right; } }

#main-page .navigation .menu ul li {
  list-style-type: none;
  float: left;
  padding: 10px 10px; }
  #main-page .navigation .menu ul li a {
    text-decoration: none; }
    #main-page .navigation .menu ul li a:hover {
      border: 1px solid yellow; }
      @media (min-width: 768px) {
        #main-page .navigation .menu ul li a:hover {
          padding: 10px 10px; } }

#main-page .about-us .title {
  text-align: center; }
  @media (min-width: 768px) {
    #main-page .about-us .title {
      margin: 60px 0; } }
  #main-page .about-us .title span {
    color: yellow;
    font-size: 18px;
    text-transform: uppercase; }

#main-page .about-us .info .detail .number {
  font-size: 20px;
  color: yellow;
  border-right: 1px solid yellow; }
  @media (min-width: 768px) {
    #main-page .about-us .info .detail .number {
      padding-right: 5px;
      margin-right: 5px; } }

#main-page .about-us .info .detail h4 {
  display: inline-block; }

#main-page .about-us .info p {
  margin-top: 25px;
  text-align: center; }

#main-page .texts {
  background: yellow;
  text-align: center;
  padding: 40px 0; }
  #main-page .texts span {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px; }

#main-page .portfolio1 .title {
  text-align: center; }

#main-page .portfolio1 .all-my-filter {
  text-align: center; }

#main-page .portfolio1 .all-courses .my-course {
  margin-top: 20px; }
  #main-page .portfolio1 .all-courses .my-course li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding: 10px 10px;
    background: pink;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px 0px; }

#main-page .portfolio .work-filter ul li {
  list-style: none;
  display: inline-block;
  background: yellow;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer; }
  #main-page .portfolio .work-filter ul li:hover {
    background: #2adfa8; }

#main-page .portfolio .all-project .work-item {
  float: left;
  width: 25%;
  position: relative; }

#main-page .clients {
  background: gray;
  padding: 30px 0;
  text-align: center; }
  @media (min-width: 768px) {
    #main-page .clients .img-clients {
      margin: 40px 0px; } }
  @media (min-width: 768px) {
    #main-page .clients .img-clients img {
      margin-left: 100px; } }
  @media (max-width: 768px) {
    #main-page .clients .img-clients img {
      margin-left: 20px; } }

#main-page .contact .title {
  text-align: center; }

#main-page .contact .form input[type="text"], #main-page .contact .form textarea {
  background: yellow;
  border: 1px solid yellow;
  padding: 5px 6px;
  margin-bottom: 5px; }
