body {
  margin: 0; }
  body .container {
    max-width: 1200px;
    margin: auto; }
  body .show3 {
    max-width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    width: 100%; }
  body .current {
    display: block !important; }
  body a {
    text-decoration: none; }
  body .head {
    background: #47413a;
    padding: 11px 0;
    position: relative;
    overflow: hidden;
    height: 19px; }
    body .head .main-head .title {
      display: inline-block;
      vertical-align: top; }
      body .head .main-head .title span {
        margin: 0 auto;
        color: #fff; }
    body .head .main-head .right-info {
      display: inline-block;
      float: right;
      position: relative; }
      body .head .main-head .right-info .country {
        display: inline-block;
        vertical-align: top;
        background: #47413a;
        border: 1px solid #47413a;
        color: #fff; }
      body .head .main-head .right-info .my-form {
        display: inline-block;
        cursor: pointer; }
        body .head .main-head .right-info .my-form .ebook {
          background: #dd9f05;
          text-align: center;
          padding: 11px 0;
          position: relative;
          top: -11px;
          width: 196px; }
          body .head .main-head .right-info .my-form .ebook span {
            margin: 0 auto;
            color: #fff; }
      body .head .main-head .right-info .form {
        background: #6d564c;
        width: 264px;
        padding: 11px 11px;
        display: none;
        position: absolute;
        z-index: 999; }
        body .head .main-head .right-info .form p {
          margin-bottom: 3px;
          margin-top: 3px;
          color: #dd9f05; }
        body .head .main-head .right-info .form input, body .head .main-head .right-info .form textarea {
          width: 100%; }
        body .head .main-head .right-info .form .sub {
          text-align: center;
          padding-top: 10px; }
          body .head .main-head .right-info .form .sub button {
            width: 50%;
            background: #dd9f05;
            border: 1px solid #dd9f05;
            height: 40px; }
  body .side-bar {
    background: #212121;
    position: relative;
    overflow: hidden;
    width: 100%; }
    body .side-bar .all-sidebar {
      width: 1200px;
      margin: auto; }
      body .side-bar .all-sidebar .logo {
        display: inline-block;
        width: 18%;
        float: left; }
      body .side-bar .all-sidebar .menu {
        float: right;
        width: 80%; }
        body .side-bar .all-sidebar .menu li {
          list-style: none;
          float: left;
          display: inline-block;
          margin-right: 20px; }
          body .side-bar .all-sidebar .menu li a {
            text-decoration: none;
            color: #fff; }
            body .side-bar .all-sidebar .menu li a:hover {
              color: #dd9f05;
              cursor: pointer;
              border-bottom: 1px solid #dd9f05;
              padding-bottom: 3px; }
        body .side-bar .all-sidebar .menu .list {
          position: relative; }
          body .side-bar .all-sidebar .menu .list:hover .our-bar {
            display: block;
            width: 60em;
            background: #dd9f05; }
            body .side-bar .all-sidebar .menu .list:hover .our-bar a {
              color: #000; }
          body .side-bar .all-sidebar .menu .list .our-bar {
            display: none;
            position: absolute; }
            body .side-bar .all-sidebar .menu .list .our-bar li {
              margin-right: 10px;
              padding-right: 10px;
              color: #000; }
            body .side-bar .all-sidebar .menu .list .our-bar .service {
              padding-right: 10px; }
  body .slide .flexslider {
    width: 100%;
    margin: auto;
    position: relative; }
    body .slide .flexslider .flex-control-nav {
      bottom: 10px; }
    body .slide .flexslider li.sl1 {
      background: url(../img/slide1.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 700px;
      color: #fff; }
    body .slide .flexslider li.sl2 {
      background: url(../img/slide2.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 700px;
      color: #fff; }
    body .slide .flexslider li .content {
      display: inline-block;
      margin-top: 100px;
      margin-left: 100px; }
      body .slide .flexslider li .content H3 {
        margin: 0; }
      body .slide .flexslider li .content span {
        color: #fff; }
      body .slide .flexslider li .content .scren h3 {
        margin: 0;
        color: #fff;
        font-size: 120px; }
        body .slide .flexslider li .content .scren h3 strong {
          color: #dd9f05; }
      body .slide .flexslider li .content .scren span {
        color: #fff;
        text-decoration: underline; }
      body .slide .flexslider li .content button {
        background: #dd9f05;
        border: 1px solid #dd9f05;
        margin-top: 5px; }
        body .slide .flexslider li .content button:hover {
          cursor: pointer; }
  body .footer {
    background: #212121;
    color: #e8a904; }
    body .footer .info1 .detail h3 {
      border-bottom: 1px solid #e8a904;
      padding-bottom: 10px; }
    body .footer .info1 .detail2 p {
      margin: 0; }
    body .footer .info1 .detail3 h4 {
      border-top: 1px solid #e8a904;
      padding-top: 10px;
      margin-top: 10px; }
    body .footer .info2 {
      margin-left: 25px; }
      body .footer .info2 .detail h3 {
        border-bottom: 1px solid #e8a904;
        padding-bottom: 10px; }
      body .footer .info2 .icon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        body .footer .info2 .icon span {
          color: #6d564c;
          font-size: 40px; }
          body .footer .info2 .icon span:hover {
            color: #c8940f;
            cursor: pointer; }
    body .footer .info3 {
      float: right; }
      body .footer .info3 .mail input {
        background: #1b1b1b;
        border: 1px solid #1b1b1b;
        padding: 10px 8px;
        color: #e8a904;
        width: 75%; }
        body .footer .info3 .mail input::-webkit-input-placeholder {
          color: #dd9f05; }
        body .footer .info3 .mail input:-ms-input-placeholder {
          color: #dd9f05; }
        body .footer .info3 .mail input::-ms-input-placeholder {
          color: #dd9f05; }
        body .footer .info3 .mail input::placeholder {
          color: #dd9f05; }
      body .footer .info3 .mail button {
        color: #dd9f05;
        background: #1b1b1b;
        border: 1px solid #1b1b1b;
        padding: 10px 10px;
        margin-left: 5px;
        cursor: pointer; }
      body .footer .info3 .detail p {
        border-top: 1px dotted;
        padding-top: 15px; }
  body .bottom {
    background: #47413a;
    padding: 16px 0;
    text-align: center; }
    body .bottom span {
      color: #fff; }
      body .bottom span strong {
        color: #c8940f; }
